eclipse-workspace/xml-demos/books.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/books" xmlns:tns="http://www.example.org/books" elementFormDefault="qualified">

    <complexType name="booksType">
    	<sequence>
    		<element name="author" type="string"></element>
    		<element name="title" type="string"></element>
    		<element name="price" type="double"></element>
    	</sequence>
    </complexType>

    <element name="book" type="tns:booksType"></element>


</schema>